@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


:root{
    --primary-color:#f60f20;
    --secondary-color:#1b206e

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Poppins',sans-serif;
    color: #111;
    height: 100%;
}
h1{
    font-size: 30px;
    font-weight: 500;
}

p{
    margin: 20px 0 10px ;
    font-size: 1.1rem;
}
.logo{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 20;

}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
  display: inline-block;
  padding:10px 30px;
  background-color: var(--primary-color);
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin: 20px 0;
  cursor: pointer;
  border: 0;
}
.btn:hover{
    transform: scale(0.98);
}
section{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px;
    margin-top: 60px;
}

section.home{
    flex-direction: column;

}
/* navigation */
.navigation{
  position: fixed;
  background-color: #fff;
  top: 100%;
  z-index: 15;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;


}
.navigation.active{
top: 0%;
}
.navigation ul{
    position: relative;
    text-align: center;
}
.navigation ul li{
 font-size: 1.6rem;

}
.navigation ul li a{
   color: #111;
   font-weight: 300;
   }

.socila-bar{
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 60px;
}

.socila-bar img{
height: 15px;
}

.email-icon{
    position: absolute;
    bottom: 20px;
}
.toggle{
    position: fixed;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 20;
    background: var(--primary-color) url(./images/menu.png) ;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 25px;
    top: 0;
}
.toggle.active{
    background: var(--primary-color) url(./images/close.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 25px;
    

}
/* Home */
.home-img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}
.home-content{
    z-index: 1;
    max-width: 500px;
}

/* Service */
.home .title h1{
    font-size: 1.6rem;
}
.home .title p{
    font-size: 14px;
}
.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .service {
    flex: 1 0 25%; 
    margin: 5px;
    text-align: center;
    padding: 25px;
    margin: 0 20px;
  }  
  .service:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .service img{
      max-width: 100px;
  }  
  .service p{
   margin: 0;
   font-weight: 300;
   font-size: 15px;
} 
  .service h2{
      font-size: 20px;
      font-weight: 500;
      color: var(--secondary-color);
      margin-top: 20px;
  }
  

  /* Work */
  .works{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;

  }
  .work{
      margin:  5px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

   }
   .work .action{
    height: 100%;
    width: 100%;    
    transition: background-color 0.8s ease;

     
   }
   .work .action a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    color: #fff;
   background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }

  .work:hover .action{
     position: absolute;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.2);
  }
  .work:hover .action a{
   display:inline-block ;
 }
 .work:hover img{
   transform: scale(1.1)
   
}
.work img{
    width: 250px;
    transition: transform 1s ease;
}
/* Contact */
.contact{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact form{
    width: calc(100% - 400px);
    padding: 50px 50px 20px 50px;
    background-color: #f9f9f9;
}
.row{
    display: flex;
}
.input50 ,.input100{
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.input100{
    width: 100%;
    height: 100px;
}
.info{
    width: 350px;
}
.contact button{
    margin: 0 15px;
    width: 96%;
    border: none;
    color: #fff;
    background-color: #1b206e;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 20px;
}
.info{
    padding: 60px 40px 20px;
    background-color: #f9f9f9;
}
.address ,.email ,.call{
    display: flex;
    margin-bottom: 20px;
}

.info img{
    width: 18px;
    height: 18px;
    margin-right: 40px;
}
.info p{
    font-size: 12px;

}
.info .email p,.info .call p{
    text-decoration: underline;
}
@media screen and (max-width:1068px){
    .home-img{
        display: none;
    }
    .logp{
        top: 10px;
        left: 40px;
        font-size: 1.5rem;
    }
    section{
        
        padding: 100px 40px;
    }
    .navigation ul li a{
        font-size: 2rem;
    }
    .service {
        flex: 1 0 40%; 
      } 
    
}

@media screen and (max-width:800px){
    
    .log{
        left: 40px;
    }
    .row{
        display: block;
    }
    .input50{
        width: 100%;
        margin: 10px 0;
    }
    .input100{
        margin: 10px 0;
    }
    .contact{
      display: block;
    }
    .contact form{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .contact .info{
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
    .contact button{
        margin: 0 ;
        width: 100%;

    }
    
}